
.video-head{
 font-family: Arial;
 font-weight: bold;
 font-size: 18px;
 width: 280px;
 line-height: 24px;
 margin-bottom: 0;


}
.video-view{
    
 font-family: Arial;
 font-size: 14px;
 line-height: 24px;
 color: rgb(96, 96, 96);
 margin-top: 0;

}
.video-mark{
 font-family: Arial;
 font-size: 14px;
 line-height: 30px;
 color: rgb(96, 96, 96);
 margin-top: 0;

}
.video-txt{
 font-family: Arial;
 font-size: 14px;
 color: rgb(96, 96, 96);
 margin-top: 0;
width: 280px;
}
.video-box{
 font-family: Arial;
 margin-bottom: 50px;
 font-size: 14px;
 text-align: center;
 background-color: rgb(227, 65, 64);
 color: white;
 margin-top: 0;
 padding-top: 15px;
 padding-bottom: 15px;
}
.video-text{
 margin-left: 6px;

}
.video-text:hover{
 text-decoration: underline;
 cursor: pointer;
}